@import "tailwindcss";

@utility container{
  margin-inline : auto;
}

@layer utilities{
  button{
    @apply
    cursor-pointer
    disabled:cursor-not-allowed
  }

  h1{
    @apply
    text-xl md:text-2xl lg:text-4xl font-bold tracking-wide
  }

  p{
    @apply
    text-black/60
  }

  .custom_hover_effect{
      @apply
      hover:shadow-xl transition-all duration-300
  }

  .custom_paddings{
    @apply
    md:w-sm xl:w-2xl 2xl:w-3xl
  } 

}

